:root {
	/* color */
	--globalMainColor_light: #000000;
	--globalMainColor_dark: #e4e4e4;

	/* background_color */
	--globalMainBgColor_light: #b7b7bc;
	--globalMainBgColor_dark: #691094;

	/* Primary */
	--globalPrimaryColor: #691094;
	--globalPrimaryColor2: #3d0957;
	--globalPrimaryColor3: #771b9e;

	--globalBlockBgDark: #070707;

	/* accent */
	--globalAccentColor: #1f2937;

	/* rounded */
	--globalDefaultRounded: 35px;

	/* padding X */
	--globalPaddingX: 30px;

	/* padding Y */
	--globalPaddingY: 10px;

	/* front */
	--globalDefaultFontSize: 15px;

	/* margin */
	--globalDefaultMarginTop: 5px;
}

.BgPrimary,
.bgPrimary .BgP,
.bgP {
	background-color: var(--globalPrimaryColor);
}

.borderP,
.borderPrimary,
.bp,
.BP {
	border: 1px solid var(--globalPrimaryColor);
}

.bgP2 {
	background-color: var(--globalPrimaryColor2);
}

.bgA,
.bgAccent {
	background-color: var(--globalAccentColor);
}

.o6:hover {
	opacity: 0.6;
}

.o7:hover {
	opacity: 0.7;
}

.o8:hover {
	opacity: 0.8;
}

/* block background dark*/

.bbd,
.blockBgDark {
	background-color: #070707;
}

.bgP3 {
	background-color: var(--globalPrimaryColor3);
}

.bgP:hover {
	background-color: var(--globalPrimaryColor3);
}
