

 .menuDesktop_light {
	color: #d8d6d6;
 }

/* .menuDesktop_dark {
	
 }*/

/* status */

.online {
	background-color: #d0cccc;
	border-radius: 50%;
}

.hidden_el {
	transition: all 0.3s ease;
	opacity: 0;
	width: 0px;
	height: 20px;
}

.headerCurrentChat:hover .hidden_el {
	opacity: 1;
	margin-left: 10px;
	width: 20px;
}

@media (max-width: 670px) {
	.headerCurrentChat .hidden_el {
	opacity: 1;
	margin-left: 10px;
	width: 20px;
	transform: scale(1);

	display: flex;
	justify-content: center;
	align-items: center;
}

}


/* скрываем прокрутку  для chrome, edge, opera */
*::-webkit-scrollbar {
	display: none;
}

/* скрываем прокрутку  для firefox */

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* shw - shadow White */

.shw {
	border: 1px solid #696767;
	box-shadow: 0 0 3px #797777;
}

/**/

.bf-10 {
	
	backdrop-filter: blur(10px);
}

/* cp - cursor-pointer */

.cp {
	cursor: pointer;
}

/** transitions **/

.tr2 {
	transition: all 0.2s ease-in-out;
}

.tr3 {
	transition: all 0.3s ease-in-out;
}

.tr4 {
	transition: all 0.4s ease-in-out;
}

.tr5 {
	transition: all 0.5s ease-in-out;
}

.tr6 {
	transition: all 0.6s ease-in-out;
}

/* oa - overflow-wrap: anywhere 

	- делает перенос только в длинных 
	текстах... 
*/

.oa {
	overflow-wrap: anywhere;
}

/* bg blur */

.bg-blur {
	background-color: rgba(20, 20, 20, 0.3);
	backdrop-filter: blur(10px);
}

.cp {
	transition: all 0.2s ease;
	cursor: pointer;
}