.default {
	transition: all 0.2s ease-in-out;
	border-radius: var(--globalDefaultRounded);
	padding: var(--globalPaddingY) var(--globalPaddingX);
	font-size: var(--globalDefaultFontSize);
	margin-top: 0;
	
	border: 1px solid #0a0a0a;
	background-color: #0a0a0a;

	outline: 0;
	
}

.full {
	width: 100%;
}

.border_none {
	border: 0;
}

.border_none.default:focus {
	border: 0px solid #999898;
}

.dark {
	color: var(--globalMainColor_dark);
	background-color: #121212;
}

.light {
	color: var(--globalMainBgColor_light);
	background-color: var(--globalMainBgColor_light);
}

/* hover */
.dark:hover {
	transition: all 0.3s ease;
	border: 1px solid #212121;
}

/* focus */
.dark:focus {
	transition: all 0.3s ease;

	background-color: #0a0a0a;
	border: 1px solid #424141;
}

.default:focus {
	transition: all 0.3s ease-in-out;
	border: 1px solid #565555;
} 