.default {
	transition: all 0.2s ease-in-out;
	border-radius: var(--globalDefaultRounded);
	padding: var(--globalPaddingY) var(--globalPaddingX);
	font-size: var(--globalDefaultFontSize);
	margin-top: 0;

	outline: 0;
}

.full {
	width: 100%;
}

.border_none {
	border: 0;
}

.border_none.default:focus {
	border: 0px solid #999898;
}

.dark {
	background: #121111;
	border: 1px solid #070707;
	color: var(--globalMainColor_dark);
}

.light {
	border: 1px solid #c9c8c8;
	color: var(--globalMainColor_light);
	background-color: var(--globalMainBgColor_light);
}

/* hover */

.dark:hover {
	border: 1px solid var(--globalPrimaryColor2);
}

.light:hover {
	border: 1px solid var(--globalAccentColorLight);
}

/* focus */

.light:focus {
	border: 1px solid var(--globalAccentColorLight);
}

.dark:focus {
	transition: all 0.3s ease-in-out;
	border: 1px solid var(--globalPrimaryColor);
}
