.default {
	border-radius: var(--globalDefaultRounded);
	padding: var(--globalPaddingY) var(--globalPaddingX);
	font-size: var(--globalDefaultFontSize);
	margin-top: 0;
	
	border: 1px solid #0a0a0a;
	background-color: #020202;

	outline: 0;
}

.full {
	width: 100%;
}

.border_none {
	border: 0;
}

.border_none.default:focus {
	border: 0px solid #999898;
}

.dark {
	color: var(--globalMainColor_dark);
	background-color: var(--globalMainBgColor_dark);
}

.light {
	color: var(--globalMainBgColor_light);
	background-color: var(--globalMainBgColor_light);
}

/* focus */
.default:focus {
	transition: all 0.3s ease;

	background-color: #0a0a0a;
	border: 1px solid #424141;
}