:root {
	--bg_dark: rgb(5, 5, 5);
	--color_dark: #d4d3d3;

	background-color: rgb(0, 0, 0);

	--bg_light: #c0bfbf;
	--color_light: #242323;
}

.dark {
	background-color: var(--bg_dark);
	color: var(--color_dark);
}

.light {
	background-color: var(--bg_light);
	color: var(--color_light);
}
